#bio
%table.bio
  %caption Bio Information
  %tbody
    %tr
      %th.id id
      %td.id= @bio.member_id
    %tr
      %th.name name
      %td.name= @bio.name
    %tr
      %th.date_of_birth date_of_birth
      %td.date_of_birth= @bio.date_of_birth
    %tr
      %th.gender gender
      %td.gender= @bio.gender
    %tr
      %th.url url
      %td.url= @bio.url
    %tr
      %th.govtrack_id govtrack_id
      %td.govtrack_id= @bio.govtrack_id
      
%table.roles
  %caption Roles
  %thead
    %tr
      %th.congress congress
      %th.chamber chamber
      %th.title title
      %th.state state
      %th.party party
      %th.start_date start_date
      %th.end_date end_date
  %tbody
  - @bio.roles.each do |role|
    %tr
      %td.congress= role.congress
      %td.chamber= role.chamber
      %td.title= role.title
      %td.state= role.state
      %td.party= role.party
      %td.start_date= role.start_date
      %td.end_date= role.end_date