#content
  
  Congressinatra is a small test application written with the Ruby "Sinatra" framework.
   
  %h3 Sample Queries
  %ul
    %li
      %a{:href=>("http://localhost:3000/congress/109/house/members")}= "http://localhost:3000/congress/109/house/members"
    %li
      %a{:href=>("http://localhost:3000/congress/members/C001041/votes")}= "http://localhost:3000/congress/members/C001041/votes"
    %li
      %a{:href=>("http://localhost:3000/congress/members/L000447")}= "http://localhost:3000/congress/members/L000447"
    %li
      %a{:href=>("http://localhost:3000/congress/110/senate/sessions/2/votes/194")}= "http://localhost:3000/congress/110/senate/sessions/2/votes/194"
      
  Sinatra is a DSL for quickly creating web-applications in Ruby with minimal effort.
  I find Sinatra to be an elegant implementation of the UNIX design philosophy:
  %blockquote
    "Write programs that do one thing and do it well."
  For more information about Sinatra, please see:
  %ul
    %li 
      The Hat:
      %a{:href=>("http://sinatra.rubyforge.org/")}= "http://sinatra.rubyforge.org/"
    %li
      The Book:
      %a{:href=>("http://sinatra.rubyforge.org/book.html")}= "http://sinatra.rubyforge.org/book.html"
    %li 
      The API:
      %a{:href=>("http://sinatra.rubyforge.org/api/")}= "http://sinatra.rubyforge.org/api/"
    %li 
      The Source:
      %a{:href=>("http://github.com/bmizerany/sinatra/tree/master")}= "http://github.com/bmizerany/sinatra/tree/master"
    %li
      Micronatra Source:
      %a{:href=>("http://github.com/gnugeek/micronatra/tree/master")}= "http://github.com/gnugeek/micronatra/tree/master"